body {
    background-color: #292929;
    color: #E6E6E6;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 400px;
    height: 700px;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

#input-display {
    width: 90%;
    height: 50px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 5px;
    margin: 5px;

}

.memory-button {
    width: calc(25% - 6px);
    height: 50px;
    font-size: 32px;
}

.button {
    width: calc(25% - 6px);
    height: 75px;
    font-size: 40px;
}
